@{
    ViewData["Title"] = "Home Page";
}

<body style="background-image: url('/images/Friet.jpg'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">
    <div class="text-center">
        <h1 class="display-4">Frituur De Puntzak</h1>
        <a asp-controller="Menus" asp-action="Index" class="btn btn-primary">Menu</a>
    </div>
</body>
